<div class="chat-room-settings-container">
  <div class="chat-room-name">
    {{ chatRoom.name }}
  </div>
  <div class="settings-container">
    <div class="settings-row" (click)="changeRoomName()">
      <mat-icon>edit</mat-icon>
      <span>Zmień nazwę</span>
    </div>
    <div class="settings-row" (click)="showInviteDialog()">
      <mat-icon>person_add</mat-icon>
      <span>Zaproś użytkownika</span>
    </div>
    <div class="settings-row" (click)="leaveRoom()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Opuść pokój</span>
    </div>
    <div class="settings-row" (click)="deleteRoom()">
      <mat-icon>delete</mat-icon>
      <span>Usuń pokój</span>
    </div>
  </div>
</div>
