.app-container {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px auto;
  gap: 10px;
  padding: 10px;
}

router-outlet {
  display: none;
}
