<div class="chat-room-container">
  <div class="chat-room-top-bar">
    CHAT ROOM NAME
  </div>
  <div class="chat-room-messages-container">
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
    <div>
      WIADOMOŚĆ 1
    </div>
  </div>
  <div class="chat-room-input-container">
    <textarea rows="1"></textarea>
    <span>Wyślij</span>
  </div>
</div>
