<div class="side-bar-container">
  <button mat-icon-button>
    <mat-icon>local_post_office</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <mat-list-item>Jan Testowy</mat-list-item>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="redirectToKeycloakAccountSettings()">Edytuj profil</button>
    <button mat-menu-item (click)="signOut()">Wyloguj</button>
  </mat-menu>
</div>
