<div class="register-form-container">
  <div class="register-form-wrapper">
    <img src="assets/logo.svg" height="200" width="240" alt="logo image"/>
    <h5>Dołącz do Websocket Chat!</h5>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <label for="username">Nazwa użytkownika:</label>
        <input id="username" type="text" formControlName="username">
      </div>
      <div class="form-row">
        <label for="firstName">Imię:</label>
        <input id="firstName" type="text" formControlName="firstName">
      </div>
      <div class="form-row">
        <label for="lastName">Nazwisko:</label>
        <input id="lastName" type="text" formControlName="lastName">
      </div>
      <div>
        <label for="password">Hasło:</label>
        <input id="password" type="password" formControlName="password">
      </div>
      <div>
        <label for="repeatPassword">Powtórz hasło:</label>
        <input id="repeatPassword" type="password" formControlName="repeatPassword">
      </div>
      <button type="submit">Zarejestruj się</button>
      <span>Masz już konto? <a [routerLink]="['/login']">Zaloguj się</a></span>
    </form>
  </div>
</div>
