.dialog-wrapper {
  color: white;
  width: 400px;
}

.dialog-disclaimer {
  font-size: 0.7rem;
  color: lightgray;
  text-align: center;
}

mat-dialog-content {
  width: 100%;
  margin-top: 10px;
}

mat-form-field {
  width: 100%;
  margin-top: 10px !important;
}
